root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{*proj,props}]
indent_size = 2

[*.{json,yaml,yml}]
indent_size = 2

[*.{config,xml}]
indent_size = 2

[*.cs]
# MSTEST0026: Avoid conditional access in assertions
dotnet_diagnostic.MSTEST0026.severity = none
